.header-icon {
	max-width: 5rem;
	margin: -1.9rem;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}
.content {
	display:flex;
	flex-flow: row;
	align-items:flex-start;
}

.ticket-card {
	max-width: 80vw;
}

.content-piece {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 0.5rem;
	flex-basis: fit-content;
}

.content-piece img {
	max-width: 95%;
}

.content-details {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	overflow-wrap: break-word;
}

.collect-button {
	width: 100%;
	display: flex;
	justify-content: flex-end;	
}

.wallet-option-list {
	list-style: none;
}

.wallet-option-list li {
	margin: 1em;
}
.wallet-option {
	display: flex;
	align-items: center;
}
.wallet-branding {
	width: 2em;
	margin-right:0.5em
}

