.header-icon {
	max-width: 5rem;
	margin: -1.9rem;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.content {
	display:flex;
	flex-flow: wrap;
	align-items:flex-start;
}

.content-piece {
	flex-grow: 1;
	margin: 0.5rem;
}

.content-piece img {
	max-width: 100%;
}
.content-details {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
}

.collect-button {
	width: 100%;
	display: flex;
	justify-content: end;	
}

.wallet-option-list {
	list-style: none;
}

.wallet-option-list li {
	margin: 1em;
}
.wallet-option {
	display: flex;
	align-items: center;
}
.wallet-branding {
	width: 2em;
	margin-right:0.5em
}

